<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.top7.dao.UserDao">
    <resultMap id="ResultMap" type="user">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="user_tel" property="userTel"></result>
        <result column="status" property="status"></result>
        <result column="user_email" property="userEmail"></result>
    </resultMap>


    <!--用户手机登录-->
    <select id="login" resultMap="ResultMap" parameterType="user">
        SELECT * FROM user WHERE user_tel=#{userTel} AND password=#{password}
    </select>

    <!--用户注册-->
    <insert id="register" parameterType="user">
        INSERT INTO user (user_name,password,user_tel,status,user_email,salt) VALUES (#{userName},#{password},#{userTel},#{status},#{userEmail},#{salt})
    </insert>

    <!--根据名字或电话查询用户-->
    <select id="findUserByNameOrTel" resultMap="ResultMap">
        SELECT * from user where user_tel=#{userTel} or user_name=#{userName}
    </select>

</mapper>